*{
    background-color: bisque;
    font-family: 'Times New Roman', Times, sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
    color: hsla(0, 100%, 50%, 0.5)
}

li {
    font-size: 30px;
    padding-top: 1rem;
    text-align: center;
    list-style-type: none;
}

a{
    color:chocolate;
}

img{
    height: auto;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}